@import url(https://fonts.googleapis.com/css?family=Teko:regular);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teko", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: radial-gradient(rgb(82, 82, 82), black);
    color: aliceblue;
    line-height: 3rem;
}

.clock-box {
    padding: 3rem 1.5rem;
    background: linear-gradient(45deg ,rgb(255, 0, 0), rgb(204, 35, 181));
    border-radius: 30% 70% 70% 30%/ 30% 30% 70% 70%;
    animation: bgblob 4s infinite 0.5s;
}

.clock {
    font-size: 4.5rem;
}

.date {
    font-size: 2rem ;
}

.clock, .date {
    text-shadow: 0 0.5vw 0.4vw rgba(0, 0, 0, 0.856);
}

@keyframes bgblob {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    25% {
        border-radius: 75% 25% 45% 55% / 30% 30% 70% 70%;
    }
    50% {
        border-radius: 61% 39% 27% 73% / 62% 77% 23% 38%;
    }
    75% {
        border-radius: 38% 62% 74% 26% / 75% 57% 43% 25%;
    }
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
}